.inverted {
  background-color: black;
  color: white;
}

.bebastext {
  font-family: "Bebas Neue", cursive;
}

.stylethegrid {
  padding: 4%;
}

.h1 {
  margin-bottom: 5%;
}
.greaterindent {
  margin-left: 8%;
}
